<div id="syncFeondi">
    <?php if ($msg != ''): ?>
        <p data-control="flash-message" data-interval="5" class="<?php if ($msgType == 'error'): ?>error<?php else: ?>success<?php endif; ?>">
            <?= $msg ?>
        </p>
    <?php endif; ?>
    <span class="material-icons plug-icons">power_off</span>
    <p class="sync-deactivated"><?= $syncStatusLabel ?></p>
    <div class="btn-container"><div class="wrapper <?= $btnStatus ?>"><a class="btn btn-success" id="actionButton">Aktivieren</a></div></div>
    <?php if ($btnStatus == 'btnOff'): ?>
        <p class="statusMessage"><?= $statusMsg ?></p>
    <?php endif; ?>
</div>
<script>
    $(document).ready(function() {
        $('#actionButton').click(function() {
            setTimeout(function() {
                $(this).request('onActivateSync');
            }, 1000);

            $('#actionButton').after('<div class="loader"></div>');
        });
    });
</script>