{% if anzahl > 0 %}
    <div class="fewo-badezimmer">
        {{ header|raw }}
        {% for bad in rooms %}
            <div class="badezimmer">
                <div>{{ bad.titel }}</div>
                {% if bad.desc != '' %}<div>{{ bad.desc|raw }}</div>{% endif %}
                {% if bad.info == 1 %}<div>{{ bad.infoText|raw }}</div>{% endif %}
                {% if bad.ausst|length > 0 %}
                    <ul>
                        {% for ausst in bad.ausst %}
                            <li>{{ ausst.name }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endif %}