subject = "Ihre Freischaltung für den Eigentümerlogin"
layout = "system"
==

<p>Guten Tag lieber Vertragspartner.<br>{{ E_VORNAME }} {{ E_NAME }}</p>
<p>Anbei erhalten Sie Ihren Eigentümer Login, bestehend aus einen Benutzernamen und einem Passwort. Bitte bewahren Sie die Zugangsdaten gut auf. Sollten Sie Ihren Zugang einmal verlegt haben, so können Sie bei uns einen neuen anfordern.</p>
<p>Über Ihren Eigentümer-Login, können Sie die Belegungen und Buchungen Ihrer Objekte sowie Abrechnungen einsehen.</p>
<p>Benutzername: {{ E_BENUTZERNAME }}<br>Passwort: {{ E_PASSWORT }}</p>
<p>Achten Sie bei der Eingabe Ihrer Zugangsdaten stets auf die GROß- und Kleinschreibung!</p>
<p>Bei weiteren Rückfragen rufen Sie uns gerne an oder schreiben uns eine E-Mail.</p>
<p>Mit freundlichen Grüßen<br>Max Mustermann</p>