subject = "Änderungen Ihrer Eigentümerlogin-Daten"
layout = "system"
==

<p>Guten Tag lieber Vertragspartner.<br>{{ E_VORNAME }} {{ E_NAME }}</p>
<p>Ihre Zugangsdaten für den Eigentümerlogin wurden geändert. Bitte bewahren Sie die neuen Zugangsdaten gut auf. Sollten Sie Ihren Zugang einmal verlegt haben, so können Sie bei uns einen neuen anfordern.</p>
<p>Benutzername: {{ E_BENUTZERNAME }}<br>Passwort: {{ E_PASSWORT }}</p>
<p>Achten Sie bei der Eingabe Ihrer Zugangsdaten stets auf die GROß- und Kleinschreibung!</p>
<p>Bei weiteren Rückfragen rufen Sie uns gerne an oder schreiben uns eine E-Mail.</p>
<p>Mit freundlichen Grüßen<br>Max Mustermann</p>