<div class="fewo-angebote">
    <div class="ang-header">{{ angHeader|raw }}</div>
    {% for angebot in angebote %}
        <div class="ang-titel">{{ angebot.titel|raw }}</div>
        <div class="ang-untertitel">{{ angebot.untertitel|raw }}</div>
        <div class="ang-beschreibung">{{ angebot.beschreibung|raw }}</div>
        <div class="ang-von">{{ angebot.vonbis }}</div>
        <div class="ang-art">{{ angebot.art}}</div>
        <!-- {{ angebot.tagebuchen }}
        {{ angebot.tagezahlen }}
        {{ angebot.preis }}
        {{ angebot.prozent }} -->
        <a href="#" rel="nofollow" data-request="{{ __SELF__ }}::onAngebotSelect" data-request-data="angid:{{ angebot.id }}, objid:{{ angebot.objid }}, btype:{{ angebot.btype }} "><div class="btn btn-success btn-sm fewo-angbtndetail">{% if angebot.id > 0 %}{{ btnAngDetail }}{% else %}{{ keinangebot }}{% endif %}</div></a>
    {% endfor %}
</div>