<div class="leistungenheader">
    <div class="leistungheader leistung_titel">{{ labels.leist }}</div>
    <div class="leistungheader leistung_preis">{{ labels.leistpreis }}</div>
    <div class="leistungheader leistung_anzahl">{{ labels.leistanz }}</div>
    <div class="leistungheader zeilensumme leistung_summe">{{ labels.leistsumme }}</div>
</div>
{% if showTooltip %}
<script>
    $(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
{% endif %}
{% for leist in optleistungen %}
<div class="zeile_leistung">
    <div class="leistung_titel">{{ leist.titel }}{% if showTooltip %}<span class="fewo-tooltip" data-toggle="tooltip" data-placement="right" title="{{ leist.tooltip|raw }}"></span>{% endif %}</div>
    <div class="leistung_preis"><span class="fewo_preistype">{{ leist.priceprn }}</span></div>
    {% if leist.max > 1 %}
    <div class="leistung_anzahl">
        <span class="leistung_header_mobile"></span><span class="leistung_type">{{ leist.type }}</span>
        <select class="select" name="fewo_leistung[{{ leist.lid }}]" data-request="{{ __SELF__ }}::onLeistungChange">
            {% for i in 0..leist.max %}
            <option value="{{ i }}" {% if leist.selected == i %} selected {% endif %}>{{ i }}x</option>
            {% endfor %}
        </select>
        {% if leist.countval > 1 %}
            <span class="countval">{{ leist.countval }}</span>
        {% endif %}
    </div>
    {% else %}
    <div class="leistung_anzahl">
        <span class="leistung_header_mobile"></span><span class="leistung_type">{{ leist.type }}</span>
        <input type="hidden" name="fewo_leistung[{{ leist.lid }}]" value="off">
        <input class="select" value="on" data-request="{{ __SELF__ }}::onLeistungChange" type="checkbox"{% if leist.selected %} checked {% endif %} name="fewo_leistung[{{ leist.lid }}]"/>
        {% if leist.countval > 1 %}
        <span class="countval">(x{{ leist.countval }})</span>
        {% endif %}
    </div>

    {% endif %}
    <div class="leistung_summe" id="leistsumme_{{ leist.lid }}"></div>
</div>
{% endfor %}
