{% if infotexte.mitreisende %}{{ infotexte.mitreisende|raw }}{% endif %}
<div class="mit_header">
    <div class="mitreisende_vorname is-required">{{ labels.vorname }}</div>
    <div class="mitreisende_nachname is-required">{{ labels.name }}</div>
    {% if showmitreisendegeb %}
        <div class="mitreisende_gebdatum is-required">{{ labels.geb }}</div>
    {% endif %}
</div>
{% for mitreisender in mitreisende %}
    <div class="mitreisender">
        <input type="text" name="mitvorname[]" id="ctrl_mitvorname_{{ mitreisender.id }}" class="text form-control frm_mitreisende" value="{{ mitreisender.mitvorname }}">
        <span id="error-vorname" class="validate"></span>
        <input type="text" name="mitname[]" id="ctrl_mitname_{{ mitreisender.id }}" class="text form-control frm_mitreisende" value="{{ mitreisender.mitname }}">
        {% if showmitreisendegeb %}
            <input type="text" name="mitgeb[]" class="text form-control frm_gebdatum" id="ctrl_mitgeb_{{ mitreisender.id }}" value="{{ mitreisender.mitgeb }}">
        {% endif %}
    </div>
{% endfor %}
<span id="error-mitreisende" class="validate"></span>
{% if showmitreisendegeb %}
    <script type="text/javascript">
        jQuery(document).ready(function() {
            {% for mitreisender in mitreisende %}
                jQuery('#ctrl_mitgeb_{{ mitreisender.id }}').dateEntry({dateFormat: 'dmy.', spinnerImage: ''});
                jQuery('#ctrl_mitgeb_{{ mitreisender.id }}').val('{{ mitreisender.mitgeb }}');
            {% endfor %}
        });
    </script>
{% endif %}
</div>