<div class="clearfix"></div>
<div id="payh"></div>
<script>
    var host = '{{ host }}';
    var checkoutId = '{{ checkoutId }}';

    var script = document.createElement('script');
    script.src = host + '/v1/paymentWidgets.js?checkoutId=' + checkoutId;
    script.defer = true;

    document.head.appendChild(script);

    var Respi = "{{ ResultUrl|raw }}" + checkoutId;

    $("#payh").append('<div class="container" style="display: block"><form class="paymentWidgets" action="' + Respi + '">' + '{{ brands }}' + '</form></div>');

    var wpwlOptions = {
        style: "plain",
        locale:"de",
        onReady: function()
        {
            const imageUrl ='https://online.hobex.at/public/paybybank_hobex.png';
            $('.wpwl-brand-ACI_INSTANTPAY').css('background-image', 'url(' + imageUrl + ')');
            $('.wpwl-brand-ACI_INSTANTPAY').css('background-size', 'contain');
            $('.wpwl-brand-ACI_INSTANTPAY').css('width', '129px');
            $('.wpwl-brand-ACI_INSTANTPAY').css('height', '40px');
        }
    };
</script>