.fewo_buchung_data .fewo_buchungsplan .frei.gewaehlt,.tag_abreise.gewaehlt,.tag_anreise.gewaehlt, .ce_fewo_buchungsmaske .waehlbar:hover{background-color: #45719a !important;}
.fewo_buchungsplan td.day_empty{background-color:#F5F5F5}
.frei{background-color: #8DC200 !important;}
.belegung_B, .belegung_E, .belegung_BL, .belegung_O {background-color: #D56C6D !important;}
.wechsel_BB, .wechsel_EE, .wechsel_BLE, .wechsel_EBL, .wechsel_BE, .wechsel_BLBL, .wechsel_BLB, .wechsel_EB, .wechsel_BBL, .wechsel_OB, wechsel_BO, .wechsel_BLO, wechsel_OBL, .wechsel_OE, .wechsel_EO{
background-image: -ms-linear-gradient(top left, #D56C6D 0%, #D56C6D 48%, #FFFFFF 49%, #FFFFFF 51%, #D56C6D 52%, #D56C6D 100%);
background-image: -moz-linear-gradient(top left, #D56C6D 0%, #D56C6D 48%, #FFFFFF 49%, #FFFFFF 51%, #D56C6D 52%, #D56C6D 100%);
background-image: -o-linear-gradient(top left, #D56C6D 0%, #D56C6D 48%, #FFFFFF 49%, #FFFFFF 51%, #D56C6D 52%, #D56C6D 100%);
background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #D56C6D), color-stop(0.48, #D56C6D), color-stop(0.49, #FFFFFF), color-stop(0.51, #FFFFFF), color-stop(0.52, #D56C6D), color-stop(1, #D56C6D));
background-image: -webkit-linear-gradient(top left, #D56C6D 0%, #D56C6D 48%, #FFFFFF 49%, #FFFFFF 51%, #D56C6D 52%, #D56C6D 100%);
background-image: linear-gradient(to bottom right, #D56C6D 0%, #D56C6D 48%, #FFFFFF 49%, #FFFFFF 51%, #D56C6D 52%, #D56C6D 100%);}
.wechsel_BB.wochentag_6, .wechsel_BB.wochentag_0, .wechsel_EB.wochentag_6, .wechsel_EB.wochentag_0{
background-image: -ms-linear-gradient(top left, #D56C6D 0%, #D56C6D 48%, #FFFFFF 49%, #FFFFFF 51%, #D56C6D 52%, #D56C6D 100%);
background-image: -moz-linear-gradient(top left, #D56C6D 0%, #D56C6D 48%, #FFFFFF 49%, #FFFFFF 51%, #D56C6D 52%, #D56C6D 100%);
background-image: -o-linear-gradient(top left, #D56C6D 0%, #D56C6D 48%, #FFFFFF 49%, #FFFFFF 51%, #D56C6D 52%, #D56C6D 100%);
background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #D56C6D), color-stop(0.48, #D56C6D), color-stop(0.49, #FFFFFF), color-stop(0.51, #FFFFFF), color-stop(0.52, #D56C6D), color-stop(1, #D56C6D));
background-image: -webkit-linear-gradient(top left, #D56C6D 0%, #D56C6D 48%, #FFFFFF 49%, #FFFFFF 51%, #D56C6D 52%, #D56C6D 100%);
background-image: linear-gradient(to bottom right, #D56C6D 0%, #D56C6D 48%, #FFFFFF 49%, #FFFFFF 51%, #D56C6D 52%, #D56C6D 100%);}
.start_B, .start_O{
background-image: -ms-linear-gradient(top left, #8DC200 0%, #8DC200 49%, #D56C6D 51%, #D56C6D 100%);
background-image: -moz-linear-gradient(top left, #8DC200 0%, #8DC200 49%, #D56C6D 51%, #D56C6D 100%);
background-image: -o-linear-gradient(top left, #8DC200 0%, #8DC200 49%, #D56C6D 51%, #D56C6D 100%);
background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #8DC200), color-stop(0.49, #8DC200), color-stop(0.51, #D56C6D), color-stop(1, #D56C6D));
background-image: -webkit-linear-gradient(top left, #8DC200 0%, #8DC200 49%, #D56C6D 51%, #D56C6D 100%);
background-image: linear-gradient(to bottom right, #8DC200 0%, #8DC200 49%, #D56C6D 51%, #D56C6D 100%);}
.ende_B, .ende_O{
background-image: -ms-linear-gradient(top left, #D56C6D 0%, #D56C6D 49%, #8DC200 51%, #8DC200 100%);
background-image: -moz-linear-gradient(top left, #D56C6D 0%, #D56C6D 49%, #8DC200 51%, #8DC200 100%);
background-image: -o-linear-gradient(top left, #D56C6D 0%, #D56C6D 49%, #8DC200 51%, #8DC200 100%);
background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #D56C6D), color-stop(0.49, #D56C6D), color-stop(0.51, #8DC200), color-stop(1, #8DC200));
background-image: -webkit-linear-gradient(top left, #D56C6D 0%, #D56C6D 49%, #8DC200 51%, #8DC200 100%);
background-image: linear-gradient(to bottom right, #D56C6D 0%, #D56C6D 49%, #8DC200 51%, #8DC200 100%);}
.start_B.wochentag_6, .start_B.wochentag_0 {
background-image: -ms-linear-gradient(top left, #8DC200  0%, #8DC200  49%, #D56C6D 51%, #D56C6D 100%);
background-image: -moz-linear-gradient(top left, #8DC200  0%, #8DC200  49%, #D56C6D 51%, #D56C6D 100%);
background-image: -o-linear-gradient(top left, #8DC200  0%, #8DC200  49%, #D56C6D 51%, #D56C6D 100%);
background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #8DC200 ), color-stop(0.49, #8DC200 ), color-stop(0.51, #D56C6D), color-stop(1, #D56C6D));
background-image: -webkit-linear-gradient(top left, #8DC200  0%, #8DC200  49%, #D56C6D 51%, #D56C6D 100%);
background-image: linear-gradient(to bottom right, #8DC200  0%, #8DC200  49%, #D56C6D 51%, #D56C6D 100%);}
.start_B, .start_E, .start_BL{
background-image: -ms-linear-gradient(top left, #8DC200 0%, #8DC200 49%, #D56C6D 51%, #D56C6D 100%);
background-image: -moz-linear-gradient(top left, #8DC200 0%, #8DC200 49%, #D56C6D 51%, #D56C6D 100%);
background-image: -o-linear-gradient(top left, #8DC200 0%, #8DC200 49%, #D56C6D 51%, #D56C6D 100%);
background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #8DC200), color-stop(0.49, #8DC200), color-stop(0.51, #D56C6D), color-stop(1, #D56C6D));
background-image: -webkit-linear-gradient(top left, #8DC200 0%, #8DC200 49%, #D56C6D 51%, #D56C6D 100%);
background-image: linear-gradient(to bottom right, #8DC200 0%, #8DC200 49%, #D56C6D 51%, #D56C6D 100%);}
.ende_B, .ende_E, .ende_BL{
background-image: -ms-linear-gradient(top left, #D56C6D 0%, #D56C6D 49%, #8DC200 51%, #8DC200 100%);
background-image: -moz-linear-gradient(top left, #D56C6D 0%, #D56C6D 49%, #8DC200 51%, #8DC200 100%);
background-image: -o-linear-gradient(top left, #D56C6D 0%, #D56C6D 49%, #8DC200 51%, #8DC200 100%);
background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #D56C6D), color-stop(0.49, #D56C6D), color-stop(0.51, #8DC200), color-stop(1, #8DC200));
background-image: -webkit-linear-gradient(top left, #D56C6D 0%, #D56C6D 49%, #8DC200 51%, #8DC200 100%);
background-image: linear-gradient(to bottom right, #D56C6D 0%, #D56C6D 49%, #8DC200 51%, #8DC200 100%);}
.belegung_A{background-color: #ffff00 !important;}
.wechsel_BA, .wechsel_EA, .wechsel_BLA, .wechsel_OA{
background-image: -ms-linear-gradient(top left, #D56C6D 0%, #D56C6D 48%, #FFFFFF 49%, #FFFFFF 51%, #ffff00 52%, #ffff00 100%);
background-image: -moz-linear-gradient(top left, #D56C6D 0%, #D56C6D 48%, #FFFFFF 49%, #FFFFFF 51%, #ffff00 52%, #ffff00 100%);
background-image: -o-linear-gradient(top left, #D56C6D 0%, #D56C6D 48%, #FFFFFF 49%, #FFFFFF 51%, #ffff00 52%, #ffff00 100%);
background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #D56C6D), color-stop(0.48, #ffff00), color-stop(0.49, #FFFFFF), color-stop(0.51, #FFFFFF), color-stop(0.52, #ffff00), color-stop(1, #ffff00));
background-image: -webkit-linear-gradient(top left, #D56C6D 0%, #D56C6D 48%, #FFFFFF 49%, #FFFFFF 51%, #ffff00 52%, #ffff00 100%);
background-image: linear-gradient(to bottom right, #D56C6D 0%, #D56C6D 48%, #FFFFFF 49%, #FFFFFF 51%, #ffff00 52%, #ffff00 100%);}
.ende_A{
background-image: -ms-linear-gradient(top left, #ffff00 0%, #ffff00 49%, #8DC200  51%, #8DC200  100%);
background-image: -moz-linear-gradient(top left, #ffff00 0%, #ffff00 49%, #8DC200  51%, #8DC200  100%);
background-image: -o-linear-gradient(top left, #ffff00 0%, #ffff00 49%, #8DC200  51%, #8DC200  100%);
background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #ffff00), color-stop(0.49, #ffff00), color-stop(0.51, #8DC200 ), color-stop(1, #8DC200 ));
background-image: -webkit-linear-gradient(top left, #ffff00 0%, #ffff00 49%, #8DC200  51%, #8DC200  100%);
background-image: linear-gradient(to bottom right, #ffff00 0%, #ffff00 49%, #8DC200  51%, #8DC200  100%);}
.ende_A.wochentag_6,.ende_A.wochentag_0 {
background-image: -ms-linear-gradient(top left, #f4c00b 0%, #f4c00b 49%, #8DC200 51%, #8DC200 100%);
background-image: -moz-linear-gradient(top left, #f4c00b 0%, #f4c00b 49%, #8DC200 51%, #8DC200 100%);
background-image: -o-linear-gradient(top left, #f4c00b 0%, #f4c00b 49%, #8DC200 51%, #8DC200 100%);
background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #f4c00b), color-stop(0.49, #f4c00b), color-stop(0.51, #8DC200), color-stop(1, #8DC200));
background-image: -webkit-linear-gradient(top left, #f4c00b 0%, #f4c00b 49%, #8DC200 51%, #8DC200 100%);
background-image: linear-gradient(to bottom right, #f4c00b 0%, #f4c00b 49%, #8DC200 51%, #8DC200 100%);}
.start_A{
background-image: -ms-linear-gradient(top left, #8DC200 0%, #8DC200 49%, #ffff00  51%, #ffff00  100%);
background-image: -moz-linear-gradient(top left, #8DC200 0%, #8DC200 49%, #ffff00  51%, #ffff00  100%);
background-image: -o-linear-gradient(top left, #8DC200 0%, #8DC200 49%, #ffff00  51%, #ffff00  100%);
background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #8DC200), color-stop(0.49, #8DC200), color-stop(0.51, #ffff00 ), color-stop(1, #ffff00 ));
background-image: -webkit-linear-gradient(top left, #8DC200 0%, #8DC200 49%, #ffff00  51%, #ffff00  100%);
background-image: linear-gradient(to bottom right, #8DC200 0%, #8DC200 49%, #ffff00  51%, #ffff00  100%);}
.start_A.wochentag_6,.start_A.wochentag_0 {
background-image: -ms-linear-gradient(top left, #8DC200 0%, #8DC200 49%, #ffff00  51%, #ffff00  100%);
background-image: -moz-linear-gradient(top left, #8DC200 0%, #8DC200 49%, #ffff00  51%, #ffff00  100%);
background-image: -o-linear-gradient(top left, #8DC200 0%, #8DC200 49%, #ffff00  51%, #ffff00  100%);
background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #8DC200), color-stop(0.49, #8DC200), color-stop(0.51, #ffff00 ), color-stop(1, #ffff00 ));
background-image: -webkit-linear-gradient(top left, #8DC200 0%, #8DC200 49%, #ffff00  51%, #ffff00  100%);
background-image: linear-gradient(to bottom right, #8DC200 0%, #8DC200 49%, #ffff00  51%, #ffff00  100%);}
.wechsel_AE, .wechsel_AB, .wechsel_ABL, .wechsel_AO {
background-image: -ms-linear-gradient(top left, #ffff00 0%, #ffff00 48%, #FFFFFF 49%, #FFFFFF 51%, #D56C6D 52%, #D56C6D 100%);
background-image: -moz-linear-gradient(top left, #ffff00 0%, #ffff00 48%, #FFFFFF 49%, #FFFFFF 51%, #D56C6D 52%, #D56C6D 100%);
background-image: -o-linear-gradient(top left, #ffff00 0%, #ffff00 48%, #FFFFFF 49%, #FFFFFF 51%, #D56C6D 52%, #D56C6D 100%);
background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #ffff00 ), color-stop(0.48, #ffff00 ), color-stop(0.49, #FFFFFF), color-stop(0.51, #FFFFFF), color-stop(0.52, #D56C6D), color-stop(1, #D56C6D));
background-image: -webkit-linear-gradient(top left, #ffff00 0%, #ffff00 48%, #FFFFFF 49%, #FFFFFF 51%, #D56C6D 52%, #D56C6D 100%);
background-image: linear-gradient(to bottom right, #ffff00 0%, #ffff00 48%, #FFFFFF 49%, #FFFFFF 51%, #D56C6D 52%, #D56C6D 100%);}
.wechsel_AA {
background-image: -ms-linear-gradient(top left, #ffff00 0%, #ffff00 48%, #FFFFFF 49%, #FFFFFF 51%, #ffff00 52%, #ffff00 100%);
background-image: -moz-linear-gradient(top left, #ffff00 0%, #ffff00 48%, #FFFFFF 49%, #FFFFFF 51%, #ffff00 52%, #ffff00 100%);
background-image: -o-linear-gradient(top left, #ffff00 0%, #ffff00 48%, #FFFFFF 49%, #FFFFFF 51%, #ffff00 52%, #ffff00 100%);
background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #ffff00 ), color-stop(0.48, #ffff00 ), color-stop(0.49, #FFFFFF), color-stop(0.51, #FFFFFF), color-stop(0.52, #ffff00), color-stop(1, #ffff00));
background-image: -webkit-linear-gradient(top left, #ffff00 0%, #ffff00 48%, #FFFFFF 49%, #FFFFFF 51%, #ffff00 52%, #ffff00 100%);
background-image: linear-gradient(to bottom right, #ffff00 0%, #ffff00 48%, #FFFFFF 49%, #FFFFFF 51%, #ffff00 52%, #ffff00 100%);}
.wechsel_AA.wochentag_6, .wechsel_AA.wochentag_0 {
background-image: -ms-linear-gradient(top left, #f4c00b 0%, #f4c00b 48%, #FFFFFF 49%, #FFFFFF 51%, #f4c00b 52%, #f4c00b 100%);
background-image: -moz-linear-gradient(top left, #f4c00b 0%, #f4c00b 48%, #FFFFFF 49%, #FFFFFF 51%, #f4c00b 52%, #f4c00b 100%);
background-image: -o-linear-gradient(top left, #f4c00b 0%, #f4c00b 48%, #FFFFFF 49%, #FFFFFF 51%, #ffff00 52%, #ffff00 100%);
background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #f4c00b ), color-stop(0.48, #f4c00b ), color-stop(0.49, #FFFFFF), color-stop(0.51, #FFFFFF), color-stop(0.52, #f4c00b), color-stop(1, #f4c00b));
background-image: -webkit-linear-gradient(top left, #f4c00b 0%, #f4c00b 48%, #FFFFFF 49%, #FFFFFF 51%, #f4c00b 52%, #f4c00b 100%);
background-image: linear-gradient(to bottom right, #f4c00b 0%, #f4c00b 48%, #FFFFFF 49%, #FFFFFF 51%, #f4c00b 52%, #f4c00b 100%);}
.belkal {float:left;margin-right:10px;width:190px;margin-right:10px;}
.belkal .month {background-color:#999;color:#fff;}
.belkal .tage {
    background-color:#ccc;}
.belkal .cal {width:22px;height:22px;float:left;margin:2px;text-align: center;}
td.vergangenheit, td.keine_preise {text-decoration: line-through; background-color: #FAFAFA;}
td.tag_leer {background-color: #FAFAFA;}
.frei.gewaehlt,.start_A.gewaehlt,.ende_A.gewaehlt,.start_B.gewaehlt,.ende_B.gewaehlt,.start_BL.gewaehlt,.ende_BL.gewaehlt{color:#fff;background-color: #45719a !important; background-image: none !important;}
.frei.gewaehlt,.tag_abreise.gewaehlt,.tag_anreise.gewaehlt,.ce_fewo_buchungsmaske .waehlbar:hover{color:#fff;cursor:pointer;background-color: #45719a !important; background-image: none !important;}
.isClickable .nichtselektierbar, .nichtwaehlbar, .keineanabreise {opacity: 0.6;}
.isClickable .fewo_buchungsplan .waehlbar:not(.nichtselektierbar) {cursor: pointer;}
.isClickable .fewo_buchungsplan .waehlbar:not(.nichtselektierbar):hover {background-color: #45719a !important; color: #fff !important; background-image: none;}
.isClickable .fewo_buchungsplan .waehlbar.nichtselektierbar, .fewo_buchungsplan .belegt {cursor: not-allowed;}


.legendeneintrag  { position: relative; float: left; line-height: 20px; margin-left: 5px; margin-bottom: 4px; }
.legendenbild { width: 20px; height:20px; position: relative; float: left; text-align: center; margin-left:10px;}
.legendenbeschriftung { position: relative; float: left; margin-left: 4px; }
.clear { clear: both; }
.fewo_plan_legend_detailliert .legendenbeschriftung { min-width: 55px; }
@media screen and (max-width: 1200px) {
    .fewo_plan_legend_einfach .legendenbeschriftung { min-width: 55px; }
}