<div id="syncFeondi">
    <?php if ($msg != ''): ?>
        <p data-control="flash-message" data-interval="5" class="<?php if ($msgType == 'error'): ?>error<?php else: ?>success<?php endif; ?>">
            <?= $msg ?>
        </p>
    <?php endif; ?>
    <span class="material-icons plug-icons">power</span>
    <p class="sync-activated"><?= $syncStatusLabel ?></p>
    <div class="btn-container"><a class="btn btn-danger" id="actionButton">Deaktivieren</a></div>
    <div class="info-text"><b>Info zur Fewo-Verwalter Version 24.4.3 oder älter:</b><br> Wenn der Zeitraum einer festen Buchung wieder freigegeben werden soll, muss die Buchung zunächst im Fewo-Verwalter durchgebucht und anschließend wieder storniert werden. Ein einfaches Ausblenden der Buchung im Fewo-Verwalter reicht <b>nicht</b> aus.</div>
    <div class="info-text"><b>Info zur Fewo-Verwalter Version 25.0 oder neuer:</b><br> Buchungen können jetzt wieder einfach ausgeblendet werden. Dadurch wird auch der Zeitraum auf der Internetseite wieder freigegeben. <b>Es ist nicht mehr notwendig, den Vorgang zu buchen und zu stornieren um den Zeitraum freizugeben.</b></div>
</div>
<script>
    $(document).ready(function() {
        $('#actionButton').click(function() {
            setTimeout(function() {
                $(this).request('onDeactivateSync');
            }, 1000);

            $('#actionButton').after('<div class="loader"></div>');
        });
    });
</script>