<div class="control-popup modal fade" id="errorAbr" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="top: 50%; transform: translateY(-50%);">
        <div class="modal-content contentbox-shadow-3">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="mb-3">Abrechnung konnte nicht gefunden werden.</h2>
                <p class="m-0">Bitten sie den verwalter, die Abrechnung neu zu senden.</p>
            </div>
            <div class="modal-footer border-0">
                <button href="#anchorBuchen" type="button" id="close-modal" class="btn btn-success btn-sm fewo-btnbuchung" data-dismiss="modal">Fertig</button>
            </div>
        </div>
    </div>
</div>