<form class="eigenbelegung_form" method="post" data-request="{{ __SELF__ }}::onBelegung">
    <div class="bel_objekt">
        <div class="label label_objektauswahl">{{ labels.belobjekt }}</div>
        <select id="ctrl_objekt" class="select frm_objekt" name="objekt" data-request="{{ __SELF__ }}::onObjektChange" style="width:300px;">
            {% for key, obj in belobjekte %}
            <option value="{{ key }}">{{ obj|raw }}</option>
            {% endfor %}
        </select>
    </div>
    <div id="belegung">
        <h1>{{ fertig|raw}}</h1>
    </div>
</form>