.eheader{width:100%; height:35px;padding:5px;background-color: #cccdd1;margin-bottom: 15px;margin-top:5px;border-bottom: 1px solid #999}
.enummer{float:left; font-weight: bold;margin-right: 30px;}
.efirma{float:left;font-weight:bold;margin-right: 30px;}
.ename{float:left;font-weight:bold;}